# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Environment / secrets
.env
*.env

# Node
frontend/node_modules/
frontend/dist/

# Logs
*.log

# Local databases
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Large raw datasets
datas/HURSAT_NI/
datas/single_levels/
datas/*.nc
datas/*.zip

# Temporary files
tmp/
temp/